.htaccess
.DS_Store
.codekit-cache
.installedExtras
MAMP-PRO-Logo.png
config.codekit
wp-config.php
favicon.ico
index.php
license.txt
readme.html
README.txt
wp-admin
wp-includes
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-content/cache
wp-content/plugins
wp-content/w3tc-config
wp-content/uploads
wp-content/upgrade
wp-content/themes/twentyfifteen
wp-content/themes/genesis
