/*
  Theme Name: Saplings Child Theme
	Theme URI: http://www.saplingsinc.com
	Description: This custom CSS file is used to modify the default behavior of the Parallax-Pro child theme and it also adds some new functionality.
    Author: Chris Ubik
    Author URI: http://www.chrisubik.com/

    Version: 1.0.1
    Last Update: December 23, 2014

    Tags: header-image, footer-widgets, simple-social-icons, social-links-home

    Template: genesis
    Template Version: 2.0.1

	License: GNU General Public License v2.0 (or later)
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* Homepage
--------------------------------------------- */

.home-section-1,
.home-section-3,
.home-section-5,
.home-section-7 {
	background-attachment: fixed;
	background-color: #fff;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
}

/* Add a text shadow to home page widget areas
--------------------------------------------- */
#text-2 .widget-title, #text-4 .widget-title, #text-5 .widget-title,
#text-2 .textwidget p, #text-4 .textwidget p, #text-5 .textwidget p,
#text-2 .textwidget h2, #text-4 .textwidget h2, #text-5 .textwidget h2,
#text-2 .textwidget h3, #text-4 .textwidget h3, #text-5 .textwidget h3 {
    text-shadow: 2px 1px 2px #494949;
}

/* Tighten up the white space per DZ
--------------------------------------------- */
.site-inner {
    margin-top: 100px;
}

.breadcrumb {
    margin-bottom: 20px;
}

.entry-header:after {
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* Make FontAwesome Circle Green
--------------------------------------------- */
.fa-circle {
    color: #35c379;
}

/* Simple Social Icons
--------------------------------------------- */

.simple-social-icons ul li.social-twitter a,
.simple-social-icons ul li.social-email a,
.simple-social-icons ul li.social-linkedin a,
.simple-social-icons ul li.social-facebook a,
.simple-social-icons ul li.social-flickr a,
.simple-social-icons ul li.social-tumblr a,
.simple-social-icons ul li.social-youtube a,
.simple-social-icons ul li.social-gplus a,
.simple-social-icons ul li.social-instagram a {
	font-family: 'FontAwesome' !important;
}

.simple-social-icons li.social-dribbble a {
	border: 2px solid #ea4c89 !important;
	color: #ea4c89 !important;
}

.simple-social-icons li.social-dribbble a:hover {
	background-color: #ea4c89 !important;
}

.simple-social-icons li.social-email a {
	border: 2px solid #049fb3 !important;
	color: #049fb3 !important;
}

.simple-social-icons li.social-email a:hover {
	background-color: #049fb3 !important;
}

.simple-social-icons li.social-facebook a {
	border: 2px solid #3b5998 !important;
	color: #3b5998 !important;
}

.simple-social-icons li.social-facebook a:hover {
	background-color: #3b5998 !important;
}

.simple-social-icons li.social-flickr a {
	border: 2px solid #ff0084 !important;
	color: #ff0084 !important;
}

.simple-social-icons li.social-flickr a:hover {
	background-color: #ff0084 !important;
}

.simple-social-icons li.social-github a {
	border: 2px solid #000 !important;
	color: #000 !important;
}

.simple-social-icons li.social-github a:hover {
	background-color: #000 !important;
}

.simple-social-icons li.social-gplus a {
	border: 2px solid #dd4b39 !important;
	color: #dd4b39 !important;
}

.simple-social-icons li.social-gplus a:hover {
	background-color: #dd4b39 !important;
}

.simple-social-icons li.social-instagram a {
	border: 2px solid #517fa4 !important;
	color: #517fa4 !important;
}

.simple-social-icons li.social-instagram a:hover {
	background-color: #517fa4 !important;
}

.simple-social-icons li.social-linkedin a {
	border: 2px solid #007bb6 !important;
	color: #007bb6 !important;
}

.simple-social-icons li.social-linkedin a:hover {
	background-color: #007bb6 !important;
}

.simple-social-icons li.social-pinterest a {
	border: 2px solid #cb2027 !important;
	color: #cb2027 !important;
}

.simple-social-icons li.social-pinterest a:hover {
	background-color: #cb2027 !important;
}

.simple-social-icons li.social-rss a {
	border: 2px solid #ff6600 !important;
	color: #ff6600 !important;
}

.simple-social-icons li.social-rss a:hover {
	background-color: #ff6600 !important;
}

.simple-social-icons li.social-stumbleupon a {
	border: 2px solid #eb4823 !important;
	color: #eb4823 !important;
}

.simple-social-icons li.social-stumbleupon a:hover {
	background-color: #eb4823 !important;
}

.simple-social-icons li.social-tumblr a {
	border: 2px solid #32506d !important;
	color: #32506d !important;
}

.simple-social-icons li.social-tumblr a:hover {
	background-color: #32506d !important;
}

.simple-social-icons li.social-twitter a {
	border: 2px solid #00aced !important;
	color: #00aced !important;
}

.simple-social-icons li.social-twitter a:hover {
	background-color: #00aced !important;
}

.simple-social-icons li.social-vimeo a {
	border: 2px solid #aad450 !important;
	color: #aad450 !important;
}

.simple-social-icons li.social-vimeo a:hover {
	background-color: #aad450 !important;
}

.simple-social-icons li.social-youtube a {
	border: 2px solid #bb0000 !important;
	color: #bb0000 !important;
}

.simple-social-icons li.social-youtube a:hover {
	background-color: #bb0000 !important;
}

.parallax-home .simple-social-icons ul li a,
.parallax-home .simple-social-icons ul li a:hover,
.simple-social-icons ul li a,
.simple-social-icons ul li a:hover {
	padding: 20px !important;
	font-size: 40px !important;
}


/* Style the testimonials
--------------------------------------------- */
.testimonial {
    margin-bottom: 30px;
}

.testimonial i {
    padding-right: 20px;
    color: #35c379;
}

.testimonial:before {
    font-family: "fontawesome";
    content: ;
}

/* Style Promotional text
--------------------------------------------- */

.promotion {
	font-size: 32px;
	font-weight: 700;
}

/* Style the footer widgets
--------------------------------------------- */

.footer-widgets .enews-widget input {
	width: 33%;
}

.footer-widgets .simple-social-icons {
    margin-top: 0;
}


.clear {
    clear: both;
}

/* Responsive Menu
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: -1px;
	text-align: center;
}

.responsive-menu-icon::before {
	content: "\f0c9";
	display: inline-block;
	font: normal 20px/1 "fontawesome";
	margin: 0 auto;
	padding: 10px;
}

/* Mobile Overrides */

@media only screen and (max-width: 1140px) {

	.site-header .widget-area {
		width: 600px;
	}

	.home-section-1,
	.home-section-3,
	.home-section-5,
	.home-section-7  {
		background-attachment: scroll;
		background-position: top;
		-webkit-background-size: auto;
		-moz-background-size:    auto;
		background-size:         auto;
	}
}

@media only screen and (max-width: 768px) {

    .site-header .widget-area {
	    width: inherit;
    }

    .site-inner {
        margin-top: 30px;
    }

    .home-even, .home-odd {
        padding: 30px 0 40px;
    }

    .home-even .widget-title,
    .home-odd .widget-title {
        margin-bottom: 20px;
    }

    .home-even a.button, .home-odd a.button {
        margin-top: 0;
    }

    .home-section-5 h2,
    .home-section-5 h3 {
        font-size: 20px;
    }

    .home-section-5 p {
	    font-size: 22px;
    }

    .wp-caption.alignright {
        float: center;
        margin: auto;
        padding-bottom: 20px;
    }
    .footer-widgets {
        padding: 30px 0 20px;
    }

    .footer-widgets .enews-widget input {
	    width: 32% !important;
    }

    .parallax-home .simple-social-icons ul li a, .parallax-home .simple-social-icons ul li a,
    .parallax-home .simple-social-icons ul li a, .parallax-home .simple-social-icons ul li a:hover {
        padding: 10px;
    }

    .parallax-home .simple-social-icons ul li {
        margin: 0 10px 20px !important;
    }
    .footer-widgets .enews-widget input[type="submit"] {
        width: 50%;
    }

    .fa-2x {
	    font-size: 2.4rem;
    }

	/* Responsive Menu
	--------------------------------------------- */
    .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
	.genesis-nav-menu.responsive-menu {
		display: none;
	}

	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}

	.genesis-nav-menu.responsive-menu .menu-item {
		margin: 0;
	}

	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu a,
	.genesis-nav-menu.responsive-menu a:hover {
		background: none;
		line-height: 1;
		padding: 16px 20px;
	}
	.nav-primary .genesis-nav-menu.responsive-menu .current-menu-item > a,
	.nav-primary .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.nav-primary .genesis-nav-menu.responsive-menu a,
	.nav-primary .genesis-nav-menu.responsive-menu a:hover {
		color: #fff;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}

	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f107";
		float: right;
		font: normal 16px/1 "fontawesome";
		height: 16px;
		padding: 16px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	.nav-primary .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		color: #fff;
	}

	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f106";
	}

	.genesis-nav-menu.responsive-menu .sub-menu {
		border: none;
		left: auto;
		opacity: 1;
		padding-left: 25px;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		background: none;
		border: none;
		padding: 12px 20px;
		position: relative;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
    .footer-widgets .enews-widget input {
    	width: 100% !important;
    }

    .footer-widgets .simple-social-icons ul li {
	    margin: 0 3px 10px !important;
    }
    .parallax-home .simple-social-icons ul li a, .parallax-home .simple-social-icons ul li a:hover, .simple-social-icons ul li a, .simple-social-icons ul li a:hover {
	    padding: 15px !important;
		font-size: 30px !important;
    }
}